.container {
  display: grid;
  grid-template-areas:
    'nav'
    'main'
    'footer';
  grid-template-rows: auto minmax(0, 1fr) 36px;
  min-height: 100vh;
}

.main {
  grid-area: main;
  min-height: 0;
  display: flex;
}
