.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0.5rem;
  min-height: 0;

  .messages {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 0.25rem;
    overflow-y: auto;
    flex: 1;
    max-height: 85vh;

    &::-webkit-scrollbar {
      width: 8px;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #bcbcbc;
      border-radius: 5px;
    }

    scrollbar-width: thin;
    scrollbar-color: #bcbcbc transparent;
  }
}
