@use '@/styles/mixins' as *;

.container {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  font-size: calc(10px + 2vmin);
}

.link {
  @include link();
}
